{% extends "index.html" %}
{% block title %}Сообщения в очереди{% endblock %}
{% block content %}
<div class="content">
  <h2 class="content__title title">Сообщения в очереди</h2>
  <div class="content__list">
    {% for item in items %}
      <div class="content__item item-content">
      <div class="item-content__left">
        {% if item.main_img %}
          <div class="item-content__img-top">
            <img src="{{ url_for('static', filename=item.main_img) }}" alt="">
          </div>
        {% endif %}
        {% if item.other_img %}
          <div class="item-content__row">
            {% for img in item.other_img %}
              <img class="item-content__img" src="{{ url_for('static', filename=img) }}" alt="">
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="item-content__right">
        <div class="item-content__title">{{ item.title }}</div>
        <div class="item-content__text">{{ item.text }}</div>
        <div class="item-content__bottom">
          <span class="item-content__descr item-content__descr_green">Дата публкации: {{ item.date }}</span>
          <a class="item-content__link btn" href="/edit/{{ item.id }}">Подробнее</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {{ pagination.links }}
<!--  <div class="pagging">-->
<!--    &lt;!&ndash; <a class="pagging__arrow" href="">назад</a> &ndash;&gt;-->
<!--    <ul class="pagging__list">-->
<!--      <li>-->
<!--        <a class="pagging__item _active" href="">1</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a class="pagging__item" href="">2</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a class="pagging__item" href="">3</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a class="pagging__item" href="">4</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a class="pagging__item" href="">5</a>-->
<!--      </li>-->
<!--    </ul>-->
    <!-- <a class="pagging__arrow" href="">вперёд</a> -->
  </div>
</div>
{% endblock %}